* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color for the entire webpage */
body {
    background-color: #d9dcd6;
}

/* Header Styles */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Company Name in the Header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Styling for the SEO text in the Header */
header h1 span.seo {
    color: #d9dcd6;
}

/* Navigation Bar Styles */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

/* List in the Navigation Bar */
nav ul {
    list-style-type: none;
}

/* List Items in the Navigation Bar */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styling for Links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Default Paragraph Style */
p {
    font-size: 16px;
}

/* Hero Section Styles */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Float Left Utility Class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Float Right Utility Class */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Main Content Container */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits Sidebar Styles */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Individual Benefit Styles */
section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Benefit Title */
section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Benefit Images */
section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Service Section Styles (combined) */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Image Height for Service Section */
article img {
    max-height: 200px;
}

/* Service Section Title */
article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer Styles */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer Subtitle */
footer h2 {
    font-size: 20px;
}
